/* Style the form */

#regForm {
    margin: auto;
    padding: 40px;
    width: 80%;
    max-width: 900px;
}

#regForm h3 {
    margin: 0;
}

#regForm hr {
    margin-bottom: 16px;
}

#regForm p {
    margin-top: 12px;
}

/* Style the input fields */

input {
    outline: none;
    padding: 10px;
    width: calc(100% - 22px);
    font-size: 1em;
    border: 1px solid #aaaaaa;
}

input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
}

input[type="checkbox"]+label {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    background: none;
    margin-bottom: 10px;
    margin-right: 12px;
    transition: 0.25s;
    min-width: 60px;
    text-align: center;
    border-radius: 2px;
}

input[type="checkbox"]+label:hover {
    background-color: white;
    color: black;
}

input[type="checkbox"]:checked+label {
    background-color: white;
    color: black;
}

.buttonGrid {
    width: 100%;
    margin: 12px 0px 12px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

textarea {
    outline: none;
    padding: 10px;
    width: calc(100% - 22px);
    font-size: 1em;
    border: 1px solid #aaaaaa;
    resize: none;
    font-family: inherit;
}

select {
    line-height: 1;
    font-size: 1em;
    width: 100%;
    outline: none;
    background-color: white;
    border: 1px solid #aaaaaa;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 7px 10px 7px 10px;
    margin: 0;
}

/* Mark input boxes that gets an error on validation: */

input.invalid {
    border: 1px solid #169696;
    animation: kf_shake 0.4s 1 linear
}

input.invalid::placeholder {
    color: #169696;
}

/* Hide all steps by default: */

.tab {
    display: none;
    animation: enterLeft 1s;
}

/* Make circles that indicate the steps of the form: */

.step {
    height: 12px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: #169696;
}

.nextPrevButton {
    color: white;
    background: none;
    padding: 4px 12px 4px 12px;
    border-radius: 100px;
    border: solid 1px #169696;
    font-size: 14px;
    transition: 0.25s;
}

@media(min-width:750px) {
    .nextPrevButton {
        font-size: 16px;
    };
}

.nextPrevButton:hover {
    background: #169696;
    color: white !important;
    cursor: pointer;
}

.nextPrevButton:focus {
    outline: none;
}

#imageUpload {
    border: solid 1px white;
    width: 200px;
    height: 200px;
    background-size: cover;
    color: rgba(0, 0, 0, 0);
    user-select: none;
    margin-top: 12px;
    margin-bottom: 12px;
}

#imageUpload::-webkit-file-upload-button {
    visibility: hidden;
}

#removeImage {
    margin-bottom: 12px;
    color: white;
    background: none;
    padding: 4px 12px 4px 12px;
    border: solid 1px white;
    font-size: 1em;
    transition: 0.25s;
}

#removeImage:hover {
    background: white;
    color: black;
    cursor: pointer;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

@keyframes kf_shake {
    0% {
        -webkit-transform: translate(30px);
    }
    20% {
        -webkit-transform: translate(-30px);
    }
    40% {
        -webkit-transform: translate(15px);
    }
    60% {
        -webkit-transform: translate(-15px);
    }
    80% {
        -webkit-transform: translate(8px);
    }
    100% {
        -webkit-transform: translate(0px);
    }
}